

body {
 background: linear-gradient(135deg, #121212, #1b1f2a, #2c3245);/* deep black */
  color: #eaeaea;              /* soft white text */
}

.navbar {
  background-color: #111111 !important;
}

.navbar-brand {
  color: #f5c518 !important;
  
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
}   /* golden logo */


.nav-link {
  color: #eaeaea !important;
}

.nav-link:hover {
  color: #f5c518 !important;
}

.card {
  background-color: #1c1c1c;
  border: none;
  color: #ffffff;
}

.card-title {
  color: #ffffff;
}

.btn-warning {
  background-color: #f5c518;
  border: none;
  color: black;
}

.btn-warning:hover {
  background-color: #e0b216;
}

.alert {
  background-color: #f5c518;
  color: black;
}
